<html>
    <p>
    <h1>PINS INDEX</h1>
        {% for pin in pins %}
        <article>
            <b> {{ pin.title }} </b> <br> {{ pin.description }}
        </article>
        {% endfor %}
    </p>
</html>